In [2]:

from simen_funksjoner import *
from read_csv import *

In [3]:
h2o.init(ip ='localhost', port = 54321)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.10+9); OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.10+9, mixed mode)
  Starting server from /Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/z4/blr9pbks7g1gwx7yzstbjlgw0000gn/T/tmpnjs7yqq7
  JVM stdout: /var/folders/z4/blr9pbks7g1gwx7yzstbjlgw0000gn/T/tmpnjs7yqq7/h2o_simenvoldqvam_started_from_python.out
  JVM stderr: /var/folders/z4/blr9pbks7g1gwx7yzstbjlgw0000gn/T/tmpnjs7yqq7/h2o_simenvoldqvam_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Oslo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.38.0.2
H2O_cluster_version_age:    14 days, 2 hours and 42 minutes
H2O_cluster_name:           H2O_from_python_simenvoldqvam_r4nopi
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.3 final
--------------------------  ------------------------------------

In [4]:
#creating points from lat and lon
point = make_point(stores_train)
test_point = make_point(stores_test)

stores_gk_impuded_merged = stores_gk_impuded.merge(point,how='left', on='store_id')
stores_gk_impuded_merged_df = stores_gk_impuded_merged.drop(['lat','lon'], axis = 1)

stores_test_impuded_merged = stores_test_impuded.merge(test_point,how='left', on='store_id')
stores_test_impuded_merged_df = stores_test_impuded_merged.drop(['lat','lon'], axis = 1)

stores_gk_impuded_merged_df

               year  grunnkrets_id   revenue  area_km2
year            NaN            NaN       NaN       NaN
grunnkrets_id   NaN       1.000000  0.014588  0.067284
revenue         NaN       0.014588  1.000000  0.013161
area_km2        NaN       0.067284  0.013161  1.000000

In [11]:
closest = train_set_feat[['store_id','closeststore__distance_lv1_desc']]
closest_test = test_set_feat[['store_id','closeststore__distance_lv1_desc']]

df_train = stores_gk_impuded_merged_df.merge(closest,how='left',on='store_id')
df_test = stores_test_impuded_merged_df.merge(closest_test, how='left', on='store_id')

df_train.corr()

,year,grunnkrets_id,revenue,area_km2,closeststore__distance_lv1_desc
year,NaN,NaN,NaN,NaN,NaN
grunnkrets_id,NaN,1.000000,0.014588,0.067284,0.156894
revenue,NaN,0.014588,1.000000,0.013161,-0.051313
area_km2,NaN,0.067284,0.013161,1.000000,0.199384
closeststore__distance_lv1_desc,NaN,0.156894,-0.051313,0.199384,1.000000

In [6]:


stores_train_hf = h2o.H2OFrame(df_train)
stores_test_hf = h2o.H2OFrame(df_test)

stores_test_hf

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

store_id                      year  store_name                           plaace_hierarchy_id    sales_channel_name       grunnkrets_id  address                 chain_name        mall_name           grunnkrets_name    district_name    municipality_name      area_km2  point                                          closeststore__distance_lv1_desc
--------------------------  ------  -----------------------------------  ---------------------  ---------------------  ---------------  ----------------------  ----------------  ------------------  -----------------  ---------------  -------------------  ----------  -------------------------------------------  ---------------------------------
914206820-914239427-717245    2016  VÅLERENGA HALAL BURGER AS            1.1.1.0                Hamburger restaurants      3.0127e+06   STRØMSVEIEN 25 A        nan               nan                 Vålerenga rode 4   Vålerenga        Oslo                  0.0570274  POINT (10.787031199017804 59.9086723048657)                        0.000309021
916789157-916823770-824309    2016  BURGER KING MYREN                    1.1.1.0                Hamburger restaurants      8.0614e+06   MYREN 1                 BURGER KING       nan                 Kjempa             Gulset           Skien                 0.165993   POINT (9.588242910455039 59.2014671593755)                         0.000275592
913341082-977479363-2948      2016  BURGER KING STOVNER                  1.1.1.0                Hamburger restaurants      3.01392e+06  STOVNER SENTER 3        BURGER KING       Stovner Senter      Stovner senter     Fossum           Oslo                  0.236628   POINT (10.9245236479163 59.9621456195866)                          8.75107e-06
889682582-889697172-28720     2016  BURGER KING TUNGASLETTA              1.1.1.0                Hamburger restaurants      1.60121e+07  TUNGASLETTA 16          BURGER KING       nan                 Strindheim 4       Strindheim       Trondheim             0.983436   POINT (10.461090999464 63.4207850720531)                           0.00512888
997991699-998006945-417222    2016  VULKAN BURGERBAR                     1.1.1.0                Hamburger restaurants      3.01430e+06  AUD SCHØNEMANNS VEI 15  VULKAN BURGERBAR  nan                 Lille Tøyen        Hasle            Oslo                  0.449502   POINT (10.7851232590326 59.9211016682561)                          0.00398779
914931487-815162862-756427    2016  BURGER KING OSLO S                   1.1.1.0                Hamburger restaurants      3.01310e+06  EKEBERGVEIEN 235        BURGER KING       nan                 Bråten             Nordstrand       Oslo                  0.313006   POINT (10.799906707586803 59.8610831417894)                        0.000753435
967062979-972338656-6209      2016  MCDONALD'S TRONDHEIM TORG            1.1.1.0                Hamburger restaurants      1.60112e+07  KONGENS GATE 9          MCDONALDS         Trondheim Torg      Midtbyen 11        Midtbyen         Trondheim             0.143946   POINT (10.393717924312 63.4303622432771)                           0.000420522
914631734-914748119-740036    2016  KVERNERIET & FRIENDS                 1.1.1.0                Hamburger restaurants      3.01091e+06  KIRKEVEIEN 64 A         nan               nan                 Majorstuen rode 9  Majorstuen       Oslo                  0.191613   POINT (10.715469633727901 59.9292563375274)                        0.000573382
970976361-973961837-23171     2016  MCDONALD'S STRANDTORGET LILLEHAMMER  1.1.1.0                Hamburger restaurants      5.01061e+06  STRANDPROMENADEN 91     MCDONALDS         Strandtorget        Sorgendal          Sentrum vest     Lillehammer           0.39577    POINT (10.448162297388699 61.1151285614373)                        0.00113692
979425031-979584385-54031     2016  MCDONALD'S ÅLESUND STORSENTER        1.1.1.0                Hamburger restaurants      1.50403e+07  STORGATA 6              MCDONALDS         Ålesund Storsenter  Kipervika          Nørvøy ytre      Ålesund               0.120695   POINT (6.15981495473944 62.4722750992065)                          0.000971461
[8577 rows x 15 columns]

In [7]:

x = stores_train_hf.columns
y = 'revenue'
x.remove(y)

aml = H2OAutoML(max_models=10, seed=1)
aml.train(x=x, y=y, training_frame= stores_train_hf)

AutoML progress: |
18:38:23.573: _train param, Dropping bad and constant columns: [store_id, year, store_name]

███
18:38:42.554: _train param, Dropping bad and constant columns: [store_id, year, store_name]

████
18:39:14.602: GLM_1_AutoML_1_20221110_183823 [GLM def_1] failed: DistributedException from /127.0.0.1:54321: 'Java heap space', caused by java.lang.OutOfMemoryError: Java heap space
18:39:14.612: _train param, Dropping bad and constant columns: [store_id, year, store_name]


18:39:21.512: _train param, Dropping bad and constant columns: [store_id, year, store_name]

██
18:39:30.169: _train param, Dropping bad and constant columns: [store_id, year, store_name]

██
18:40:51.617: _train param, Dropping bad and constant columns: [store_id, year, store_name]


18:40:54.926: _train param, Dropping bad and constant columns: [store_id, year, store_name]

█
18:40:58.572: _train param, Dropping bad and constant columns: [store_id, year, store_name]

█
18:41:03.698: _train param, Dropping bad and constant columns: [store_id, year, store_name]

██
18:41:11.33: _train param, Dropping bad and constant columns: [store_id, year, store_name]

██
18:41:49.591: _train param, Dropping bad and constant columns: [store_id, year, store_name]
18:41:52.456: _train param, Dropping unused columns: [store_id, year, store_name]


18:41:53.968: _train param, Dropping unused columns: [store_id, year, store_name]

██████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OStackedEnsembleEstimator : Stacked Ensemble
Model Key: StackedEnsemble_AllModels_1_AutoML_1_20221110_183823

No summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 48.674933580014645
RMSE: 6.97674233292406
MAE: 3.4953326970158387
RMSLE: 0.6725707148558114
Mean Residual Deviance: 48.674933580014645
R^2: 0.8021044030397448
Null degrees of freedom: 10049
Residual degrees of freedom: 10042
Null deviance: 2471970.6673968085
Residual deviance: 489183.0824791472
AIC: 67584.56459371647

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 94.93195898281597
RMSE: 9.743303289070703
MAE: 4.737524760584028
RMSLE: NaN
Mean Residual Deviance: 94.93195898281597
R^2: 0.5984906907539133
Null degrees of freedom: 12858
Residual degrees of freedom: 12851
Null deviance: 3040529.429394231
Residual deviance: 1220730.0605600306
AIC: 95059.35095747272

Cross-Validation Metrics Summary:
                        mean      sd         cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  --------  ---------  ------------  ------------  ------------  ------------  ------------
mae                     4.7444    0.132901   4.63384       4.73821       4.84985       4.90367       4.59641
mean_residual_deviance  94.8147   16.9306    80.8414       82.8607       122.373       98.8798       89.1184
mse                     94.8147   16.9306    80.8414       82.8607       122.373       98.8798       89.1184
null_deviance           608106    70453      557954        568142        726125        620840        567468
r2                      0.601036  0.0275771  0.620343      0.62299       0.558062      0.588874      0.614911
residual_deviance       244101    46401.8    211804        214112        320862        255209        218518
rmse                    9.70806   0.842817   8.99118       9.10279       11.0622       9.94383       9.44026
rmsle                   0.803917  0.0175838  0.784147      0.809796      nan           0.817808      nan

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [8]:
lb = h2o.automl.get_leaderboard(aml, extra_columns = "ALL")
best_model = aml.get_best_model()

lb

model_id                                                     rmse       mse      mae       rmsle    mean_residual_deviance  algo
-------------------------------------------------------  --------  --------  -------  ----------  ------------------------  ---------------
StackedEnsemble_AllModels_1_AutoML_1_20221110_183823      9.7433    94.932   4.73752  nan                          94.932   StackedEnsemble
StackedEnsemble_BestOfFamily_1_AutoML_1_20221110_183823   9.75384   95.1374  4.75011  nan                          95.1374  StackedEnsemble
GBM_1_AutoML_1_20221110_183823                           10.0753   101.512   4.89076  nan                         101.512   GBM
XGBoost_3_AutoML_1_20221110_183823                       10.0882   101.772   5.01111  nan                         101.772   XGBoost
DRF_1_AutoML_1_20221110_183823                           10.1725   103.48    4.72126    0.780733                  103.48    DRF
GBM_5_AutoML_1_20221110_183823                           10.2865   105.813   4.91345  nan                         105.813   GBM
XGBoost_1_AutoML_1_20221110_183823                       10.3169   106.439   5.17026  nan                         106.439   XGBoost
GBM_3_AutoML_1_20221110_183823                           10.3178   106.457   4.93528  nan                         106.457   GBM
GBM_2_AutoML_1_20221110_183823                           10.3596   107.321   4.9574     0.809339                  107.321   GBM
GBM_4_AutoML_1_20221110_183823                           10.3674   107.483   4.95764  nan                         107.483   GBM
[12 rows x 7 columns]

In [9]:
m = h2o.get_model(lb[2,"model_id"])
print(m.varimp(use_pandas=True))

                           variable  relative_importance  scaled_importance  \
0                        chain_name         8.179964e+06           1.000000
1                 municipality_name         1.999336e+06           0.244419
2                sales_channel_name         9.712676e+05           0.118737
3                         mall_name         3.883014e+05           0.047470
4               plaace_hierarchy_id         3.142915e+05           0.038422
5                     district_name         1.151176e+05           0.014073
6                           address         1.034398e+05           0.012646
7                   grunnkrets_name         7.637927e+04           0.009337
8                             point         5.939657e+04           0.007261
9   closeststore__distance_lv1_desc         3.570613e+04           0.004365
10                         area_km2         1.894549e+04           0.002316
11                    grunnkrets_id         9.512916e+03           0.001163

    percentage
0     0.666574
1     0.162923
2     0.079147
3     0.031642
4     0.025611
5     0.009381
6     0.008429
7     0.006224
8     0.004840
9     0.002910
10    0.001544
11    0.000775

In [10]:
prediction = aml.leader.predict(stores_test_hf)
df = stores_test_hf.cbind(prediction)
df = df.as_data_frame(use_pandas=True)
result = df.loc[:,("store_id", 'predict')]
submission = result.rename(columns = {"store_id": "id", "predict": "predicted"})
submission.to_csv("h2o_with_closest_stores.csv", index = False)

submission

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'plaace_hierarchy_id' has levels not trained on: ["1.5.1.0"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'sales_channel_name' has levels not trained on: ["Bowling alleys"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'address' has levels not trained on: ["17. MAI GATA 6", "4. STRØM TERRASSE 13", "A B AARSTENS GATE 4", "AAGAARDS PLASS 2", "AAGAARDVEIEN 177", "AARSTADGATEN 6", "AASGAARDEN 4", "ABEL MEYERS GATE 13", "ABELSBORG GATE 10", "ADMIRAL BØRRESENS VEI 6 E", ...4323 not listed..., "ØYEVOLLVEIEN 6", "ØYGARDEN 18", "ØYGARDSBAKKEN 13 A", "ØYJORDSVEIEN 1", "ØYRAGATA 9", "ØYRAPLASSEN 9", "ØYRO 17", "ØYRO 2", "ØYRO 39", "ØYVIND LAMBES VEI 6"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'chain_name' has levels not trained on: ["24 7 TRENINGSSENTER", "ACE SHOPS", "AVANCIA SPORT", "BADEMILJØ", "BADERINGEN", "BAROKK FRISØR", "BERTONI NORWAY", "BIRK SPORT", "BLUE ENERGY", "DESINESS", ...23 not listed..., "SALT OG PEPPER HØNEFOSS", "SKOGSTAD DETALJ", "SKY FITNESS", "TIGER OF SWEDEN", "TIPPY", "VARMEFAG INVEST", "VITA EXCLUSIVE", "YOGIS", "ZAVANNA", "ZAXIZ FRISØR"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'mall_name' has levels not trained on: ["Aamodt Senter", "Bardufoss Torgsenter", "Bellevuesenteret", "Borgeåsen Senter", "CC Mart'n", "Combisenteret Fiskå", "Coop Mega Hønefoss", "Coop Mega Øvre Årdal", "Cuben Kjøpesenter", "De Syv Søstre kjøpesenter", ...37 not listed..., "Strøget", "Sundt Motehus", "Svelvik Nærsenter", "Tebo Senter", "Trekanten Senter Kristiansand", "Tårnhuset", "Varehuset Rosendal", "Vik Torg", "Vossevangen Senter Mega", "Vågsenteret"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'grunnkrets_name' has levels not trained on: ["A. G. Johnsons vei", "Aa", "Aarø", "Akebakkeskogen", "Algarheim", "Almås", "Alvestad", "Amalienborg", "Amundrud", "Andenes 5", ...996 not listed..., "Øvre Damsgård", "Øvre Lillebakken/Diagonalgata", "Øvre Mosby", "Øvre Skyset", "Øvre Svatsum", "Øvrebotten", "Øye", "Øye/Stennes", "Øyerne", "Øyfjell"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'district_name' has levels not trained on: ["Algarheim", "Beiarn", "Bersagel/Høle", "Bjoa/Vikebygd", "Blystadlia", "Bokn", "Bordalen", "Braskereidfoss", "Buksnes nordre", "Bøverbru", ...84 not listed..., "Vats", "Vest/nord", "Vestre Gausdal nord", "Vestre Porsanger", "Ytre Averøy", "Ytre Gjemnes", "Ytre Herøy 2", "Ytre Vadsø", "Ålvundeid/Ålvundfjord", "Årvik-Mauranger-Ænes"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'municipality_name' has levels not trained on: ["Beiarn", "Bokn", "Gjemnes", "Høylandet", "Modalen", "Snillfjord", "Tranøy", "Unjárga - Nesseby", "Utsira"]
  warnings.warn(w)
/Users/simenvoldqvam/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'point' has levels not trained on: ["POINT (10.0065573912742 59.7518049493447)", "POINT (10.008148342544699 59.7508587400356)", "POINT (10.009343061418699 59.750346713701)", "POINT (10.009767994085 59.0555531341092)", "POINT (10.0099365347035 59.74937231750171)", "POINT (10.0106846965011 59.4838588390286)", "POINT (10.0111132638048 59.4846099801751)", "POINT (10.0112778935777 59.750188153490704)", "POINT (10.011313457170802 59.486584099030296)", "POINT (10.0113686042593 62.8282376763369)", ...5451 not listed..., "POINT (9.99500845332865 59.9665207518762)", "POINT (9.995773483010419 59.96690725931999)", "POINT (9.99601922354233 59.9666135974567)", "POINT (9.996103998808948 62.1342674681766)", "POINT (9.996566744701179 59.967090524919215)", "POINT (9.996614596030687 59.967144342786796)", "POINT (9.99674173355957 59.9672612697307)", "POINT (9.99682297634687 59.75896465180021)", "POINT (9.99690542171969 59.7588857491759)", "POINT (9.998512386888107 59.052574417961395)"]
  warnings.warn(w)

                              id  predicted
0     914206820-914239427-717245   5.834358
1     916789157-916823770-824309   7.160918
2       913341082-977479363-2948   6.581743
3      889682582-889697172-28720   9.044083
4     997991699-998006945-417222  16.567129
...                          ...        ...
8572    983164994-983173446-1571   2.753024
8573  917194602-917240809-839622   0.821965
8574  916236255-916275269-800265   1.341487
8575   998529794-975934594-45230   2.302510
8576  994330489-918246169-882781   3.120325

[8577 rows x 2 columns]